extends layout

block content
  h1 Education
  h2 Number of Entries
  div=numEducation.count
  h3 Create Education
  form(action="/education/create" method="POST")
    label University:
      // Every input needs to match 
      input(type="text" name="$Institution")
    br
    label U_ID:
      input(type="text" name="$U_ID")
    br
    button(type="submit") Create Education


  hr
  ul 
    each e in education
      // Not sure how to call another query here to get the actual name.
      li="Person with ID " + e.U_ID + " attended " + e.Institution

